.chart {
    position: relative;
}

.charttitle {
    text-align: center;
    margin: 2rem 0 1rem 0;
    color: var(--sectionColor);
}

p.textonchart {
    position: absolute;
    font-weight: 900;
    margin: 0;
    z-index: -1;
}

p.textonchart#chart1_1 {
    top: 8%;
    left: 73%;
    color: var(--sectionColor);
}

p.textonchart#chart2_1 {
    top: 30%;
    left: 17%;
    color: #1f1f8f;
}

p.textonchart#chart2_2 {
    top: 66%;
    left: 52%;
    color: #c51e1e;
    line-height: 1.15;
}

@media screen and (max-width: 580px) {

    p.textonchart#chart2_1,
    p.textonchart#chart2_2 {
        font-size: 1rem;
    }

    p.textonchart#chart2_1 {
        top: 28%
    }

    p.textonchart#chart2_2 {
        top: 60%;
    }
}

@media screen and (max-width: 410px) {

    p.textonchart#chart2_1,
    p.textonchart#chart2_2 {
        font-size: 0.7rem;
        top: 32%;
    }

    p.textonchart#chart2_2 {
        top: 57%;
    }
}


img.diff_arrow {
    position: absolute;
    z-index: -1;
}

img.diff_arrow#diff_426 {
    top: 46.2%;
    left: 7.3%;
    width: 7.3%;
}

img.diff_arrow#diff_570 {
    top: 28.2%;
    left: 39.35%;
    width: 8.7%;
}

img.diff_arrow#diff_600 {
    top: 15.3%;
    left: 72.25%;
    width: 8.7%;
}

#comparison_chart_img {
    display: none;
}

@media screen and (max-width: 650px) {
    #comparison_chart {
        display: none;
    }

    #comparison_chart_img {
        display: block;
    }
}

p.chartlabel {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    font-weight: 300;
}


p.savechart {
    margin-top: 0.25rem;
    font-size: 0.8rem;
    font-style: italic;
    color: var(--sectionColor);
    text-decoration: underline;
    cursor: pointer;
    display: none;
}

/* .chart {
    width: 100%;
    max-width: 670px;
    height: 400px;
    max-height: 50vh;
    margin: 0 auto;
}

.chart svg {overflow: visible;}

.ct-label {
    color: var(--dark);
    font-size: 0.75rem;
    fill: rgba(87,87,87,0.9);
}



.section-text-cont p.chartlabel {
    font-size: 0.75rem;
    font-style: italic;
    columns: var(--grey);
    margin-bottom: 0;
}

.ct-series .ct-label {
    fill: var(--red);
    font-size: 0.5rem;
}

.ct-grid {
    stroke: rgba(87,87,87,0.4);
    stroke-width: 1px;
    stroke-dasharray: 4px;
}

#chart1 g.ct-series-a line {
    stroke-width: 30%;
}

#chart1 g.ct-series-a line:nth-child(1) {
    stroke: var(--red)
}

#chart1 g.ct-series-a line:nth-child(2) {
    stroke: #1f1f8f;
}

#chart1 .ct-labels foreignObject:nth-child(1), #chart1 .ct-labels foreignObject:nth-child(2) {
    display: flex;
    justify-content: center;
}

#chart1 .ct-labels foreignObject:nth-child(1) span, #chart1 .ct-labels foreignObject:nth-child(2) span {
    text-align: center;
    margin-top: 0.25rem;
}

#chart2 .ct-series {
    stroke: var(--seriescolor);
    fill: none;
    stroke-width: 4px;
}

#chart2 .ct-point {
    stroke-width: 10px;
    stroke-linecap: round;
}

#chart2 .ct-labels foreignObject {
    transform: translateX(-0.5rem);
}

#chart2 .ct-label.ct-vertical::after {
    content: "%";
}

#chart3 .ct-series {
    stroke: var(--seriescolor);
    fill: none;
    stroke-width: 4px;
}

#chart3 .ct-point {
    stroke-width: 10px;
    stroke-linecap: round;
}

#chart3 .ct-labels foreignObject {
    transform: translateX(-0.5rem);
}

#chart3 .ct-label.ct-vertical::after {
    content: "%";
}

#chart2 .ct-series-a {--seriescolor: #1f1f8f}
#chart2 .ct-series-b {--seriescolor: var(--red)}

#chart3 .ct-series-a {--seriescolor: #1f1f8f}
#chart3 .ct-series-b {--seriescolor: red}
#chart3 .ct-series-c {--seriescolor: purple}
#chart3 .ct-series-d {--seriescolor: green}
*/