.home-section {
    min-height: 100vh;
    min-height: calc(100 * var(--vh));
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

.section-container {
    padding-top: calc(var(--navHeight) + 1.5rem);
    padding-bottom: calc(var(--navHeight) + 1.5rem);
    margin: auto 0;
    position: relative;
    z-index: 2;
}

@media screen and (max-width: 980px) {
    .section-container {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    #mietexplosion .section-container {
        padding-top: calc(var(--navHeight) + 1.5rem);
    }
}

.section-container p {
    font-size: 1.1rem;
    font-weight: 500;
}

.section-container p:last-child {
    margin-bottom: 0;
}

.section-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: var(--sectionColor);
    opacity: 0.15;
}

.section-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.075;
    background-position: center;
    background-size: cover;
}





/* PEOPLE GRID */
#people-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 130%;
    margin-left: -15%;
    margin-top: 2rem;
    justify-content: center;
}

#people-grid .person {
    width: calc(100% / 3 - (2rem / 3));
}

@media screen and (max-width: 980px) {
    #people-grid {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        max-width: 11cm;
    }

    #people-grid .person {
        width: calc(100% / 2 - (1rem / 2));
    }
}

@media screen and (max-width: 380px) {
    #people-grid {
        max-width: 5.5cm;
    }

    #people-grid .person {
        width: 100%;
    }
}

#people-grid .person .person-img-container {
    border-radius: 50%;
    border: 10px solid var(--whine);
    display: flex;
}

#people-grid .person img {
    width: 100%;
    height: auto;
    align-self: flex-start;
    border-radius: 50%;
    filter: grayscale(1);
}

#people-grid .person p.text_small {
    font-size: 0.8rem;
}

#engagement ol {
    padding-inline-start: 1rem;
}

#engagement ol li {
    font-weight:bold;
    color: var(--sectionColor);
}

#engagement li p b {
    color: var(--sectionColor);
}

#engagement li > * {
    font-weight:normal;
    color: var(--black);
}


/* Support Grid */
#support-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 150%;
    margin-left: -25%;
    margin-top: 2rem;
    justify-content: center;
}

.support-item {
    width: calc(100% / 3 - (2rem / 3) - 3rem);
    background-color: var(--white);
    padding: 1.5rem;
    text-align: center;
    border-radius: 4px;
    filter: drop-shadow(0 3px 4px rgba(0, 0, 0, 0.12))
        drop-shadow(0 3px 3px rgba(0, 0, 0, 0.14))
        drop-shadow(0 1px 8px rgba(0, 0, 0, 0.12))
        drop-shadow(0 -2px 2px rgba(0, 0, 0, 0.1));
    height: fit-content;
    margin: auto;
}

.support-item h5 {
    margin-top: 0;
    color: var(--sectionColor);
    margin-bottom: 0.5rem;
}

.support-item p {
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.8rem;
}

.support-item .support-button {
    width: calc(100% - 1.5rem);
    display: block;
    padding: 0.75rem;
    background-color: var(--sectionColor);
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    line-height: 1.1;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: var(--white);
    text-decoration: none;
    border-radius: 4px;
}

@media screen and (max-width: 980px) {
    #support-grid {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        row-gap: 2rem;
    }

    .support-item {
        width: calc(100% / 2 - (1rem / 2) - 3rem);
    }
}

@media screen and (max-width: 560px) {
    #support-grid {
        max-width: 7.5cm;
    }

    .support-item {
        width: calc(100% - 3rem);
    }
}